/* Header container */
.header-container {
  background-color: #001C30;
  color: #DAFFFB;
  padding: 10px; /* Add padding to the header container */
  box-sizing: border-box;
}

/* Top section containing title and search */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none; /* Remove the border */
  padding: 10px 0;
}

/* Search box */
.search-box {
  border: none; /* Change to your desired color */
  padding: 0px;
  background-color: #001C30; /* Change to your desired background color */
}

/* Input field in the search box */
.search-box input.form-control {
  border: none;
  background-color: #DAFFFB; /* Change to your desired background color */
}

/* Search button */
.search-button {
  border: none; /* Change to your desired color */
  background-color: #176B87; /* Change to your desired background color */
  color: #DAFFFB;
}


/* Website name */
.website-name {
  font-family: 'Bludrug-x3DE0', sans-serif;
  font-size: 50px;
  border: none; /* Remove the border */
  padding: 5px;
  margin: 0; /* Remove default margin */
}

/* Navigation menu */
.navbar {
  font-family: 'AnotherFont', sans-serif;
  width: 100%;
  padding: 0px
}

/* Style each navigation link */
.navbar a {
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px;
  transition: color 0.2s;
  border: none; /* Remove the border */
  color: #DAFFFB;
}

/* Add hover effect on navbar elements */
.navbar a:hover {
  color: #ff9900;
}

/* Profile icon */
.profile-icon {
  padding: 10px;
  border: 1px solid #DAFFFB; /* Add a white border */
  border-radius: 0px; /* Make the icon circular */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Adjust layout for smaller screens */
  .navbar a {
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  /* Adjust layout for even smaller screens */
  .website-name {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    margin: 10px 0;
  }

  .navbar a {
    margin: 5px 0;
  }
}
.container-fluid{
  background-color: #001C30;
}

/* Change the color of the dropdown menu items */
.dropdown-menu a.dropdown-item {
  color: #001C30; /* Change to your desired color */
}

/* Change the background color of the dropdown menu */
.dropdown-menu {
  background-color: #DAFFFB; /* Change to your desired color */
}